<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Search Detox</h1>
      <img src="assets/img/privacy.png" alt="">
    </div>
    <div class="col-12 justify-content-center">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"  [(ngModel)]="choosenPersonality" value="singer">
        <label class="form-check-label" for="inlineRadio1">Singer</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"  [(ngModel)]="choosenPersonality" value="programmer">
        <label class="form-check-label" for="inlineRadio2">Programmer</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" [(ngModel)]="choosenPersonality" value="traveller">
        <label class="form-check-label" for="inlineRadio2">Traveller</label>
      </div>
    </div>
    <div class="col-12">
      <button (click)="destroyGoogle()" class="btn btn-primary">RUN IT</button>
    </div>
  </div>
</div>
