/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: #f9f9f9;
     color: #959595;
     font-family: 'Roboto', sans-serif;
}